/**
* 颜色
*/
@primary-color: #1e90ff;
@success-color: #00C853;
@error-color: #F44336;
@warning-color: #FFA500;
@title-color: #212121;
@content-color: #616161;
@sub-color: #9E9E9E;
@disabled-color: #CDCDCD ;
@border-color: #DEDEDE;
@divider-color: #EEEEEE;
@background-color: #FFFFFF;

/**
* default-height: 32px
*/
@default-height: 2rem;

/**
* 边框：4px 1px
*/
@border-radius: .25rem;
@border-width: .0625rem;

/**
* 边距：2px
*/
@base-gap: .125rem;

/**
* 字体：14px
* 深色背景的字体颜色：white
*/
@font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@basic-fsize: .875rem;

/**
* grid
*/

@grid: 24;

/**
* font-family
*/
*,
:after,
:before {
  box-sizing: border-box;
}

/*by-dropdown-list*/
.by-dropdown-wrap {
  position: absolute;
  left: 0;
  z-index: 9999;
  min-width: 100%;
  background-color: @background-color;
  border-radius: @border-radius;
  box-shadow: 0 0 @border-width * 4 0 @disabled-color;
  padding: @base-gap * 2 0;
  margin-top: @base-gap * 2;

  .by-dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      padding: @base-gap * 3 @base-gap * 6;
      color: @content-color;
      font-size: @basic-fsize;
    }

    &-item:hover {
      background-color: @divider-color;
    }
  }
}


