.by-button-group {
  display: inline-block;
  font-size: 0;

  .by-button {
    border-radius: 0;
  }

  &-normal {
    .by-button {
      height: @default-height;
      line-height: @default-height - @border-width * 2;
    }
  }

  &-large {
    .by-button {
      height: @default-height + .5rem;
      line-height: @default-height + .5rem - @border-width * 2;
      font-size: @basic-fsize + .125rem;
    }
  }

  &-small {
    .by-button {
      height: @default-height - .5rem;
      line-height: @default-height - .5rem - @border-width * 2;
      font-size: @basic-fsize - .125rem;
      padding: 0 @base-gap * 6;
    }
  }

  // direction
  &-horizontal {
    .by-button {
      border-right-width: 0;
    }
  
    .by-button:hover,
    .by-button:focus,
    .by-button:active {
      border-right-width: @border-width;
    }
    
    .by-button:hover + .by-button,
    .by-button:focus + .by-button,
    .by-button:active + .by-button {
      border-left-width: 0;
    }

    .by-button:first-of-type {
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }

    .by-button:last-of-type {
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      border-right-width: @border-width;
    }
  }

  &-vertical {
    .by-button {
      display: block;
      border-bottom-width: 0;
    }

    .by-button:hover,
    .by-button:focus,
    .by-button:active {
      border-bottom-width: @border-width;
    }
    
    .by-button:hover + .by-button,
    .by-button:focus + .by-button,
    .by-button:active + .by-button {
      border-top-width: 0;
    }

    .by-button:first-of-type {
      border-top-left-radius: @border-radius;
      border-top-right-radius: @border-radius;
    }

    .by-button:last-of-type {
      border-bottom-left-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      border-bottom-width: @border-width;
    }
  }

  &-normal-round {
    .by-button:first-of-type {
      border-top-left-radius: @default-height;
      border-bottom-left-radius: @default-height;
    }

    .by-button:last-of-type {
      border-top-right-radius: @default-height;
      border-bottom-right-radius: @default-height;
    }
  }

  &-large-round {
    .by-button:first-of-type {
      border-top-left-radius: @default-height + .5rem;
      border-bottom-left-radius: @default-height + .5rem;
    }

    .by-button:last-of-type {
      border-top-right-radius: @default-height + .5rem;
      border-bottom-right-radius: @default-height + .5rem;
    }
  }

  &-small-round {
    .by-button:first-of-type {
      border-top-left-radius: @default-height - .5rem;
      border-bottom-left-radius: @default-height - .5rem;
    }

    .by-button:last-of-type {
      border-top-right-radius: @default-height - .5rem;
      border-bottom-right-radius: @default-height - .5rem;
    }
  }
}