.by-btn-group {
  display: inline-block;
  font-size: 0;

  .by-btn {
    border-radius: 0;
  }

  &-normal {
    .by-btn {
      height: @default-height;
    }
  }

  &-large {
    .by-btn {
      height: @default-height + .5rem;
      font-size: @basic-fsize + .125rem;
    }
  }

  &-small {
    .by-btn {
      height: @default-height - .5rem;
      font-size: @basic-fsize - .125rem;
      padding: 0 @base-gap * 6;
    }
  }

  // direction
  &-horizontal {
    .by-btn {
      border-right-width: 0;
    }
  
    .by-btn:hover,
    .by-btn:focus,
    .by-btn:active {
      border-right-width: @border-width;
    }
    
    .by-btn:hover + .by-btn,
    .by-btn:focus + .by-btn,
    .by-btn:active + .by-btn {
      border-left-width: 0;
    }

    .by-btn:first-of-type {
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }

    .by-btn:last-of-type {
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      border-right-width: @border-width;
    }
  }

  &-vertical {
    .by-btn {
      display: block;
      border-bottom-width: 0;
    }

    .by-btn:hover,
    .by-btn:focus,
    .by-btn:active {
      border-bottom-width: @border-width;
    }
    
    .by-btn:hover + .by-btn,
    .by-btn:focus + .by-btn,
    .by-btn:active + .by-btn {
      border-top-width: 0;
    }

    .by-btn:first-of-type {
      border-top-left-radius: @border-radius;
      border-top-right-radius: @border-radius;
    }

    .by-btn:last-of-type {
      border-bottom-left-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      border-bottom-width: @border-width;
    }
  }

  &-normal-round {
    .by-btn:first-of-type {
      border-top-left-radius: @default-height;
      border-bottom-left-radius: @default-height;
    }

    .by-btn:last-of-type {
      border-top-right-radius: @default-height;
      border-bottom-right-radius: @default-height;
    }
  }

  &-large-round {
    .by-btn:first-of-type {
      border-top-left-radius: @default-height + .5rem;
      border-bottom-left-radius: @default-height + .5rem;
    }

    .by-btn:last-of-type {
      border-top-right-radius: @default-height + .5rem;
      border-bottom-right-radius: @default-height + .5rem;
    }
  }

  &-small-round {
    .by-btn:first-of-type {
      border-top-left-radius: @default-height - .5rem;
      border-bottom-left-radius: @default-height - .5rem;
    }

    .by-btn:last-of-type {
      border-top-right-radius: @default-height - .5rem;
      border-bottom-right-radius: @default-height - .5rem;
    }
  }
}